/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable'), 'Arial', sans-serif;
  color: var(--accent-color, #000);
  font-variation-settings: 'wght' var(--font-weight-main, 400);
  background-color: var(--bg-color, #fff);
  background-image: var(--page-gradient);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font, Courier, monospace);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  margin-block: 96px;
  width: var(--content-width);
  margin-inline: auto;
  padding-top: clamp(122px, 0.75vw + 120px, 130px);
  padding-bottom: clamp(122px, 0.75vw + 120px, 130px);
  padding-inline: clamp(16px, 10vw, 122.5px);
}

.header__logo {
  font-size: clamp(49px, 1.39vw + 43px, 65px);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 20px;
  letter-spacing: 0;
}

.header__title {
  font-size: clamp(14px, 0.84vw + 11px, 23px);
  font-weight: var(--font-weight-main);
  line-height: 1;
  text-transform: uppercase;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  width: var(--content-width);
  margin-inline: auto;
}

.card__title {
  font-variation-settings: "wght" var(--font-weight-title);
  font-size: 18px;
  line-height: 22px;
  padding: 5px 10px;
  border-block-end: 2px solid var(--main-color, #000);
}

.card__image {
  position: relative;
  overflow: hidden;
  border-block-end: 2px solid var(--main-color, #000);
  aspect-ratio: 1/1;
}

.car__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: right;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(5);
}

.hue {
  filter: hue-rotate(26deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(8px);
}

.mult {
  filter:
   hue-rotate(105deg)
    contrast(0.7)
    brightness(1.15)
    blur(0.6px)
}

.card__text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-variation-settings: "wght" var(--font-weight-main, 400);
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--main-color, #000);
  cursor: pointer;
}

.button__text {
  font-family: var(--accent-font, Courier, monospace);
  font-size: 14px;
  line-height: 0.9;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.btn-shad {
  transition: box-shadow 0.3s ease;
}

.btn-shad:focus,
.btn-shad:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color, #000);
}

.button-paint {
  overflow: hidden;
  color: var(--main-color, #000);
}

.button-paint::before {
  content: "";
  position: absolute;
  inset: 0;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-paint:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  display: grid;
  place-items: center;
  inline-size: 40px;
  block-size: 38px;
  transition: border-color 0.3s ease;
}

.like-icon {
  display: block;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color, #000);
}

.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  font-family: var(--accent-font, Courier, monospace);
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--bg-color, #fff),
     0 1px var(--bg-color, #fff),
     1px 0 var(--bg-color, #fff),
     0 -1px var(--bg-color, #fff);
}

@supports ((text-stroke: 1px var(--bg-color, #fff)) or (-webkit-text-stroke: 1px var(--bg-color, #fff))) {
  .watermark {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.save {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
  width: var(--content-width);
  margin-inline: auto;
}

.save__button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--bg-color, #fff);
  padding: 18px 20px;
  block-size: 55px;
}

.save__button .floppy {
  position: relative;
  z-index: 1;
  color: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

.popup {
  display: none;
  font-family: var(--accent-font, Courier, monospace);
  color: var(--main-color, #000);
  text-transform: uppercase;
  max-inline-size: 353px;
  padding: 30px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  margin: auto;
}

.popup[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content:flex-start;
}

.popup__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.popup__text {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.popup__close-btn {
  inline-size: 100%;
  padding-block: 12px;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.floppy {
  inline-size: 21px;
  color:  #000;
}

.floppy-dlg {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

@media (width <= 375px) {
  .watermark {
    inset-inline-end: 13px;
  }

  .save__button {
    flex-direction: column;
    display: inline-flex;
    block-size: 84px;
    padding: 15px 20px;
  }

  .floppy {
    inline-size: 28px;
  }
}